ul {
  list-style-type: none;
}

.input-span {
  display: none;
}

.error {
  border: 1px solid red;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom */

/* Linked code starts here */

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Linked code ends here */

/* Temporary borders */
body {
  border: 1px solid black;
}

#goal-calculated-menu {
  border: 1px solid yellow;
}

#goal-custom-menu {
  border: 1px solid yellow;
}

.user-info {
  gap: 10px;
  border: 1px solid blue;
}

.weight-change-goals {
  border: 1px solid red;
}

/* stylelint-disable-next-line selector-class-pattern */
.TDEE {
  border: 1px solid green;
}

/* Temporary borders */

.macros-block {
  padding-left: 2.5%;
}

.tdee-button {
  margin-left: 2.5%;
}

label p {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  padding-left: 10px;
}

.toggle {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7e90f1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7e90f1;
}

input:checked + .slider::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: translateX(26px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Output box for recommended training phase */
/* stylelint-disable-next-line selector-id-pattern */
#recPhase {
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}

/* stylelint-disable-next-line selector-id-pattern */
#recWeightChangeWeekly {
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}

/* Output boxes for TDEE and macro recommendations */
/* stylelint-disable selector-id-pattern */
#currentTDEE,
#dailySurplus,
#totalCalories,
#proteinMacro,
#fatMacro,
#carbMacro { /* stylelint-enable selector-id-pattern */
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}
