ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* This option by default dispose the elements in a row*/
  display: flex;
}

.input-span {
  display: none;
}

.error {
  border: 1px solid red;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom */

/* Linked code starts here */

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Linked code ends here */

/* Temporary borders */
body {
  margin: 10px;
  padding: 10px;
  background-color: #90C2E7;
}

.container {
  display: flex;
}

.user-info {
  gap: 10px;
  padding: 20px;
}

.weight-change-goals {
  padding: 20px;
}

/* stylelint-disable-next-line selector-class-pattern */

.calories {
  display: flex;
}

.nutrients {
  display: flex;
}

.macros-block {
  padding-left: 2.5%;
}

.tdee-button {
  margin-left: 2.5%;
}

label p {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  padding-left: 10px;
}

.toggle {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4E8098;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4E8098;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Output box for recommended training phase */
/* stylelint-disable-next-line selector-id-pattern */
#recPhase {
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}

/* stylelint-disable-next-line selector-id-pattern */
#recWeightChangeWeekly {
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}

#goal-calculated-menu ol{
  display: flex;
}

.weight-change-container {
  margin-right: 30px;
}

/* stylelint-enable selector-id-pattern */
#customPhase { 
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 30px;
  width: 300px;
  display: block;
  padding: 0.5em;
}

/* Output boxes for TDEE and macro recommendations */
/* stylelint-disable selector-id-pattern */
#currentTDEE,
#dailySurplus,
#totalCalories,
#proteinMacro,
#fatMacro,
#carbMacro { /* stylelint-enable selector-id-pattern */
  box-shadow: 0 0 5px 1px #d3d3d3;
  height: 20px;
  width: 200px;
  display: block;
  padding: 0.5em;
}

.table {
  border: 1px solid;
  width: 70%;
}

.table th, .table td {
  border: 1px solid;
}

.table input {
  border: 1px solid;
  width: 90%;
}


/* Navigation Styling*/
nav li {
  list-style-type: none;
  /* First value is top and bottom side, second value is left and right side*/
  margin: 0 2vw;
  /* Font sizze will be 3% of the height of the viewport */
  font-size: 3vh;
}

a {
  text-decoration: none;
  color: #092327;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  background-color: #00A9A5;
}

nav {
  width: 100vw;
  background-color: #4E8098;
}

button {
  display: none;
}

/* Change the layout of the navigation bar for all the screens that have a width less or equal than 500px */
@media only screen and (max-width: 500px){

  button {
    /* Makes the button visible */
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #4E8098;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;

  }
  /* shows elements in a column */
  ul {
    flex-direction: column;
  }

  /* Deletes margin on top or bottom of the tag */
  li {
    margin: 0;
  }

  /* Makes sure that the a tag will take the entire screen */
  a {
    display: block;
  }
  
  .container {
  display: initial;
}
  
}