ul {
  list-style-type: none;
}

.error {
  border: 1px solid red;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_bottom */
/* Linked code starts here*/
.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  opacity: 0;
  pointer-events: none;
}
/* Linked code ends here */


/* Temporary borders */
body {
  border: 1px solid black;
}

#goalCalculatedMenu {
  border: 1px solid yellow;
}

#goalCustomMenu {
  border: 1px solid yellow;
}

.userInfo {
  gap: 10px;
  border: 1px solid blue;
}

.weightChangeGoals {
  border: 1px solid red;
}

.TDEE {
  border: 1px solid green;
}

.macrosBlock {
  padding-left: 2.5%;
}

.tdeeButton {
  margin-left: 2.5%;
}

label p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 10px;
  padding-left: 10px;
}

.toggle {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6456f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6456f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* Output box for recommended training phase */
#recPhase {
  box-shadow: 0 0 5px 1px #D3D3D3;
  height: 20px;
  width: 200px;
  display: block;
  padding: .5em;
}
#recWeightChangeWeekly {
  box-shadow: 0 0 5px 1px #D3D3D3;
  height: 20px;
  width: 200px;
  display: block;
  padding: .5em;
}

/* Output boxes for TDEE and macro recommendations */
#currentTDEE, #dailySurplus, #totalCalories, #proteinMacro, #fatMacro, #carbMacro {
  box-shadow: 0 0 5px 1px #D3D3D3;
  height: 20px;
  width: 200px;
  display: block;
  padding: .5em;
}
